 body {
        background-color: #c3ffa3;
       }   
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}
/* RECIPE PAGE */
.nav {
    float: left;
    border: 1px solid #ccc;
    background-color: maroon;
    width: 30%;
    height: 100%;
}

.nav ul, li, a {
    display: block;
    color: white;
    margin-top: 0px;
    padding: 12px 5px;
    width: 100%;
    text-align: left;
    font-size: 17px;
    font-size: 16px;
    text-decoration:none;
}

.nav li:hover {
    background-color: #ddd;
}

.nav li.active {
    background-color: #ccc;
}

.ingredients h1 {
    text-align: center;
}

.ingredients ul, li {
    text-align: center;
    color: black;
    font-size: 20px;
}
/* END OF RECIPE PAGE */
