 body {
    background-color: #c3ffa3;
    margin: 0 auto;
    text-align: center;
    font-family: arial;
}   
  .nav li {
    display: inline;
    white-space: pre;
}

  .nav a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 14px 140px;
    display: inline-block;
    text-decoration: underline;
    font-family: times;
}

  .nav-pills {
    margin-top: 0;
    background-color: maroon;
}

  .nav-pills a:hover {
    background-color: #ddd;
}

/*START OF RECIPE PAGE*/

.ingredients h1 {
    font-size: 40px;
}

.ingredients h2 {
    font-size: 32px;
}

.ingredients ul, li {
    color: black;
    font-size: 20px;
    text-align: left;
}

.instructions h1 {
    font-size: 40px;
}

.step1 p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.step1 img{
    width: 100%;	
    border: 1px solid black;
    margin-bottom: 40px;
}

.step2 p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.step2 img{
    width: 100%;	
    border: 1px solid black;

}

.step3 p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.step3 img{
    width: 100%;	
    border: 1px solid black;

}

.step4 p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.step4 img{
    width: 100%;	
    border: 1px solid black;

}


.step5 p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.step5 img{
    width: 100%;	
    border: 1px solid black;

}
/*END OF RECIPE PAGE*/

/* START OF REVIEWS PAGE*/

div.ex4 {
         width: 100%;
         background-color:rgb(200, 234, 200) ;
}  

div.ex3 {
         width: 100%;
         background-color:rgb(200, 234, 200) ;
}
div.ex2 {
         width: 100%;
         background-color:rgb(200, 234, 200) ;
}
div.ex1 {
    width: 100%;
    background-color:rgb(200, 234, 200) ;
}

h3{
   color:rgb(77, 0, 0) ;
}
input[type=Submit] {
    width: 20%;
    background-color: rgb(77, 0, 0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(128, 0, 0);
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 2px solid rgb(77, 0, 0);
    box-sizing: border-box;
}
h2{
    color:black;
    text-align: center;
}
h1 {
    color:rgb(77, 0, 0) ;
    text-align: center;
}
/* END OF REVIEWS PAGE*/
