  body {
        background-color: #c3ffa3;
       }   
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: maroon;
    width: 30%;
    height: 100%;
}

.tab ul, li, a {
    display: block;
    background-color: inherit;
    color: white;
    margin-top: 0px;
    padding: 12px 5px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    list-style-type: none;
    font-size: 16px;
    text-decoration:none;
}

.tab li:hover {
    background-color: #ddd;
}

.tab li.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}